html {
  width: 100vw!important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw!important;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}